s-scroll-view#container {
    background-image: linear-gradient(22.5deg,#43434305,#43434305 29%,#2f2f2f05 29%,#2f2f2f05 37%,#17171705 37%,#17171705 55%,#b6b6b605 55%,#b6b6b605 69%,#1b1b1b05 69%,#1b1b1b05 71%,#fafafa05 71%,#fafafa05),linear-gradient(67.5deg,#75757505,#75757505 14%,#c7c7c705 14%,#c7c7c705 40%,#21212105 40%,#21212105 48%,#87878705 48%,#87878705 60%,#94949405 60%,#94949405 95%,#35353505 95%,#35353505),linear-gradient(135deg,#bebebe05,#bebebe05 6%,#fbfbfb05 6%,#fbfbfb05 18%,#02020205 18%,#02020205 27%,#fdfdfd05 27%,#fdfdfd05 49%,#80808005 49%,#80808005 76%,#96969605 76%,#96969605);
}

div#head-icon-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

s-icon-button#head-icon-button {
    width: 50vw;
    height: 50vw;
}

s-icon.head-icon {
    width: 36vw;
    height: 36vw;
    color: var(--s-color-primary);
}

s-icon#connected-statu {
    display: none;
}

div#head-text-container {
    display: flex;
    width: calc(100% - 2em * 2);
    padding: 0 2em;
    margin-bottom: 3em;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

span#head-h1 {
    font-size: 3em;
    font-weight: bold;
    margin: .5em 0;
}

span.head-desc {
    margin-top: .3em;
}

div#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5em;
}

s-icon-button#button-action {
    width: 4em;
    height: 4em;
}