:not(:defined) {
    visibility: hidden;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

page#app {
    height: 100%;
    width: 100%;
}

s-menu#app-menu {
    max-width: 100%;
}

div#drawer-content {
    border-radius: 0 2em 2em 0;
    box-shadow: none;
}

div#big-label {
    height: 10em;
}

s-icon#big-label-icon {
    width: 5em;
    height: 5em;
    margin-bottom: 1em;
    color: var(--s-color-outline-variant);
}

s-menu-item {
    margin: .4em .8em;
}

s-menu-item::part(container) {
    height: 4em;
    border-radius: 4em;
}

s-menu-item::part(text) {
    font-weight: regular;
    margin-left: .6em;
    font-size: 1rem;
}

div#app-title {
    font-size: 1.2em;
}

strong {
    color: var(--s-color-primary);
}

s-divider {
    margin: 2em 0;
}