s-scroll-view#container {
    padding: 0 2em;
}

div#upload-button-container {
    margin: 2em 0 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

div#upload-button-container > s-button {
    width: 48%;
}

input#file-input {
    display: none;
}

s-card#result-card {
    margin: 0 0 2em 0;
    display: block;
    max-width: none;
    box-shadow: transparent 0 0 0 0;
}

span#result-statu {
    margin: 1em;
    display: block;
}

s-table#result-table {
    overflow: auto;
    margin: 1em;
    min-width: calc(100% - 1em * 2);
    display: none;
}

s-picker#task-name {
    margin: 1em 0 1em 0;
    max-width: none;
    width: 100%;
}